
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap');


*{
  
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

body {
     background-image: url(photo-1519681393784-d120267933ba.avif); 
     background-position: center;
     background-size: cover; 
    }

.data   {

    color: #fff;
    text-align: center;

}





.container{
   
    margin: 200px auto;
    padding: 20px;
    width: 45%;
    backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.61);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}


input
{

    display: inline-block;
    background: #4b5663;
    border: none;
    padding: 10px;
    margin: 5px 0 22px 0;
    border-radius: 5px;
    width: 100%;

}

input:focus
{

    background-color: #51abb2;
    outline: none;


}



.reg {
    text-align: center;
    color: #fff;
}





.registerbtn {

   cursor: pointer;
   margin: 10px auto;
   padding: 16px ;
   background-color: #2ea44f62;
   width: 100%;
   font-size: 25px;
   border: none;
   border-radius: 5px;
   color:#fff ;
   transition: 0.7s;
   


}


.registerbtn:hover {

    opacity: .9;
    padding: 32px;
    background-color: #2ea44f;
    letter-spacing: 2px;
   
   
}